<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006057221131-h8nt41sa357pg1jac3e5lgphtlqodvuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006057221131-h8nt41sa357pg1jac3e5lgphtlqodvuv</string>
	<key>API_KEY</key>
	<string>AIzaSyAAs3u77KWrgiNEjd77M-vgZkCQ-ArhiBw</string>
	<key>GCM_SENDER_ID</key>
	<string>1006057221131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nader.said.tawah.ListenWithMe</string>
	<key>PROJECT_ID</key>
	<string>listenwithme-3ee11</string>
	<key>STORAGE_BUCKET</key>
	<string>listenwithme-3ee11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006057221131:ios:d9e69f0786c24ac7856b0e</string>
</dict>
</plist>